html{
    background-image: url(./background.jpg);
    background-attachment : fixed;
    background-size:cover;
}


#div1{
    text-align: center;
}

#backslot{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 500%;
}

#form{
    text-align: center;
}


.btn{
    border: none;
    font-size: 300%;
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
    margin:10%;
    border-radius:1vh;
}

.btn:hover{
    background-color:#cfc501 ;
    border-bottom: 5px solid #8a8300;
}

